body{
	/*background: blue;*/
	background: url('../assets/bg.jpg');
	background-attachment: fixed;
	margin: 0;
}

#footer{
	text-align: center;
}

#header{
	display: grid;
	grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
	padding:0.2rem;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
}

#logo{
	display: block;
	max-height: 2.5rem;
	margin-left: 1rem;
}

#header p{
	font-weight: 800;
	font-size: 1.7rem;
	margin: 0;
	text-align: center;
}

#header_elements{
	display: none;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
}

.checked {
    color: orange;
    display: none;
}

#header_elements li{
	padding: 0.7rem;
	font-weight: 600;
	font-size: 1rem;
}

#lower_header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	color: #2626d8;
	font-size: 1rem;
	font-weight: 800;
}

#lower_header p{
	border: 1px solid #2626d8;
	padding: 2px;
	border-radius: 3px;
}

#middle{
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
}

article{
	margin: 0 0.5rem;
}

.title{
	margin-top: 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.title1{
	display: none;
}

.desc, .desc li{
	text-align: justify;
	font-weight: 500;
}

ul.desc{
	margin-left: -1rem;
}

.optional{
	display: none;
}


@media only screen and (min-width: 760px){
	#header{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#header_elements li{
		font-size: 1.7rem;
		color: #2626d8;
	}

	#header_elements{
		margin-left: -18rem;
	}

	.checked {
    	display: inline;
	}

	#lower_header p{
		font-size: 1.7rem;
		border: 0;
	}

	.optional{
		display: inline;
	}

}

.rating_price{
	display: flex;
    justify-content: space-between;
}

.rating{
	position: relative;
    display: inline-block;
    width: 111px;
    height: 21px;
    background-image: url(../assets/sprite.png);
    background-position: right -105px;
    background-repeat: no-repeat;
}

.price{
	font-size: 1.5rem;
}

.card{
	max-width: 374px;
	padding: 20px;
	background: white;
	border-radius: 10px;
	box-sizing: border-box;
	-webkit-transition: transform 2s;
	transition: transform 1s;
}

.card img{
	max-width: 100%;
}

.card:hover{ 
	position: relative; 
    transform: rotate(15deg);
 } 

#bottom{
	display: flex;
	justify-content: center;
}

a{
	text-decoration: none;
}

.product_sku{
	float: right;
}

@media only screen and (min-width: 1000px){
	#header p{
		display: block;
		font-weight: 800;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1000px){
	#middle{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
	}
	
	.title1{
		display: block;
	}
}